

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
  />
  <span>Weather App</span>
    <div class="spacer"></div>
  <h3 style="margin-right: 20px">{{day}}</h3>
</div>

<div class="content" role="main">

  <!-- Highlight Card (keyup)="onKey($event)" -->
  <div class="card highlight-card card-small">

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Enter city name" style="color: aliceblue" name="userInput" [(ngModel)]="userInput">
      </mat-form-field>
      
      <button mat-mini-fab aria-label="Example icon-button with a heart icon" style="margin-left: 10px" (click)="getWeather()">
        <mat-icon>search</mat-icon>
      </button>
    
  </div>
<div *ngIf="userInput">
      <h3>Current temp: {{Data?.main?.temp}} °C</h3>
    <p>City : {{Data?.name}}</p>
    <p>Humidity : {{Data?.main?.humidity }} %</p>
</div>

